@use 'utilities/mixins' as *;
@use 'utilities/variables' as *;

.nav {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100px;
	width: 100vw;
	z-index: 10;
	transition: box-shadow 0.3s, height 0.6s ease-out;

	&--short {
		height: 70px;
	}

	&--shadow {
		box-shadow: 0px 4px 7px -5px rgba(66, 68, 90, 1);
	}
}

.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	background-color: $white;

	&__box {
		display: flex;
		align-items: center;
		gap: 48px;
      margin-right: 15px;
	}

	&__items {
		text-decoration: none;
	}

	&__item {
		@include action2;
		color: $grey700;
		transition: all 0.3s;

		&:hover {
			color: $primary700;
		}
	}

	&__logo-link {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__btn {
		display: none;
	}
}

.header {
	display: flex;
	max-height: 800px;
	padding-top: 100px;
	margin-bottom: 100px;

	&__left {
		width: 50%;
		height: 800px;
		display: flex;
		justify-content: center;
		align-items: center;
		color: $white;
		background-color: $grey900;
	}

	&__right {
		background-image: url('../../dist/img/hero-img.jpg');
		background-position: center;
		background-size: cover;
		width: 50%;
		height: 800px;
		z-index: 0;
	}

	&__box {
		width: 47%;
		gap: 40px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}

	&__h1-title {
		@include h1;
	}

	&__text {
		@include subheader1;
	}
}

.aboutus {
	padding: 100px 0;
	background-color: $primary50;

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__overline {
		@include caption1;
		color: $primary800;
		margin-bottom: 20px;
	}

	&__h2-title {
		@include h2;
		color: $grey900;
	}

	&__boxes {
		display: flex;
		flex-direction: row;
		margin-top: 70px;
	}

	&__box {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		padding: 0 20px;
		gap: 20px;
	}

	&__item {
		display: flex;
		flex-direction: column;
	}

	&__ring {
		background-color: $primary100;
		min-width: 56px;
		min-height: 56px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__h3-title {
		color: $grey900;
		margin-bottom: 15px;
		@include h6;
	}

	&__text {
		@include body1;
	}
}

.offer {
	padding: 128px 0;
	display: flex;
	flex-direction: column;
	gap: 182px;

	&__container {
		display: flex;
		justify-content: space-between;
	}

	&__box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		max-width: 548px;
		max-height: 548px;
	}

	&__img {
      width: 548px;
      height: 548px;
		width: 100%;
		max-width: 548px;
		min-width: 280px;
		height: auto;
		border-radius: 8px;
	}

	&__overline {
		@include caption1;
		color: $primary800;
		margin-bottom: 12px;
	}

	&__h1-title {
		@include h2;
		color: $grey900;
		margin-bottom: 20px;
		width: 380px;
	}

	&__text {
		@include body1;
		margin-bottom: 32px;
	}
}

.line {
	width: 100%;
	height: 1px;
	background-color: $grey200;
}

.opinion {
	padding: 150px 0;
}

.splide {
	&__slide {
		display: flex;
		justify-content: center;
	}

	&__box {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 900px;
	}

	&__overline {
		@include caption1;
		color: $primary800;
		margin-bottom: 12px;
	}

	&__h2-title {
		@include h2;
		color: $grey900;
		margin-bottom: 40px;
		text-align: center;
	}

	&__svg-icon {
		margin-bottom: 32px;
	}

	&__text {
		@include body1;
		text-align: center;
		margin-bottom: 32px;
	}

	&__svg-picture {
		margin-bottom: 12px;
      width: 46px;
      height: 46px;
	}

	&__person-name {
		@include subheader1;
		color: $grey900;
		margin-bottom: 12px;
	}

	&__person-description {
		@include body1;
		color: $grey700;
	}
}

.blog {
	display: flex;
	background-color: $grey50;

	&__inner {
		padding: 128px 0;
	}

	&__header {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	&__h2-title {
		@include h2;
		color: $grey900;
	}

	&__btn {
		margin-bottom: 60px;
	}

	&__container {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 32px;
		width: 100%;
	}

	&__img {
      width: 432px;
      height: 320px;
		border-radius: 8px;
		max-width: 432px;
		width: 100%;
		object-fit: cover;
	}

	&__img-link {
		margin-bottom: 30px;
	}

	&__box {
		display: flex;
		flex-direction: column;
		width: 33.3%;
	}

	&__category-name {
		@include caption1;
		color: $primary800;
		margin-bottom: 12px;
	}

	&__h6-title {
		@include h6;
		color: $grey900;
		transition: all 0.3s;

		&--JShover {
			color: $primary700;
		}

		&:hover {
			color: $primary700;
		}
	}

	&__link {
		text-decoration: none;
		margin-bottom: 12px;
	}

	&__text {
		@include body1;
		color: $grey800;
		margin-bottom: 12px;
	}

	&__date-box {
		display: flex;
		align-items: center;
	}

	&__date {
		@include caption1;
		color: $grey600;
		margin-left: 8px;
	}
}

.cta {
	padding: 100px 0;
	background-color: $grey50;

	&__box {
		padding: 80px 0px;
		background-color: $grey900;
		border-radius: 8px;
		max-width: 100%;
		color: $white;
		display: flex;
		justify-content: center;
	}

	&__inner {
		max-width: 555px;
		padding: 0 15px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
	}

	&__overline {
		@include caption1;
	}

	&__h2-title {
		@include h2;
		text-align: center;
	}
	&__text {
		@include body1;
		text-align: center;
	}
}

.contact {
	position: relative;
	display: flex;
	padding: 128px 0;
	background: $white;

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		max-width: 100%;
		gap: 32px;
	}

	&__form-grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		gap: 20px;
	}

	&__img {
      width: 664px;
      height: 686px;
		max-width: 664px;
      height: auto;
		width: 100%;
		border-radius: 8px;
	}

	&__box {
		max-width: 664px;
		height: 686px;
		padding: 48px;
		border-radius: 8px;
		background-color: $primary50;
	}

	&__h3-title {
		@include h3;
		color: $grey900;
		margin-bottom: 20px;
	}

	&__button {
		display: flex;
		justify-content: flex-end;
		margin-top: 35px;
	}

	&__checkbox-container {
		display: flex;
		align-items: flex-start;
		margin-top: 35px;
	}

	&__checkbox {
		width: 20px;
		height: 20px;
		transition: all 0.3s;
	}

	&__checkbox-ring {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 36px;
		height: 36px;
		border-radius: 50%;

		&:hover {
			background-color: $primary100;
		}

		&:active {
			background-color: $primary200;
		}
	}

	&__checkbox-terms {
		align-items: flex-start;
		margin-left: 12px;
		@include body2;
		color: $grey900;
		transition: all 0.15s;

		&--error {
			color: $red;
		}
	}

	&__form-box {
		position: relative;
		border: 1px solid $grey100;

		&--hover {
			border: 1px solid $grey300;
		}

		&:active {
			border: 1px solid $primary500;
		}

		&:focus {
			outline: none;
		}

		&--textarea-box {
			margin-top: 20px;
		}

		&--active {
			border: 1px solid $green;
		}

		&--error {
			border: 1px solid $red;
		}
	}

	&__data-inputs {
		position: relative;
		padding: 16px 20px;
		border: 0px solid transparent;
		border-radius: 2px;
		width: 100%;

		&:focus {
			outline: none;
		}

		&--textarea {
			width: 100%;
			height: 200px;
			resize: none;
		}
	}

	&__label {
		position: absolute;
		top: 11px;
		left: 19px;
		@include body1;
		color: $grey700;
		pointer-events: none;
		transition: all 0.15 ease-out;

		&--active {
			top: -14px;
			@include caption2;
			color: $grey900;
			padding: 0 8px;
			background-color: $white;
		}
	}

	&__link {
		text-decoration: none;
		color: $grey900;
		transition: all 0.2s;
		transition: all 0.15s;

		&--error {
			color: $red;
		}

		&:hover {
			color: $primary700;
		}
	}

	&__form-item {
		position: relative;
	}

	&__error {
		position: absolute;
		top: 45px;
		left: 0px;
		@include caption2;
		display: none;
		color: $red;
		transition: all 0.15s;

		&--textarea {
			top: 202px;
		}

		&--show-error {
			display: block;
		}
	}

	&__success {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		@include action1;
		color: $green;
		background-color: #fff;
		padding: 20px 30px;
		border: 2px solid $green;
		transition: all 0.15s;
		border-radius: 4px;
		display: none;

		&--active {
			display: block;
		}
	}
}

.footer {
	background-color: $grey50;

	&__sun-link {
		text-decoration: none;
		color: $grey700;
		transition: all 0.2s;

		&:hover {
			color: $primary700;
		}
	}

	&__divider {
		width: 100%;
		height: 1px;
		background-color: $grey100;
	}

	&__box-top {
		padding: 40px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__menu {
		display: flex;
		gap: 48px;
	}

   &__menu-mobile {
		display: flex;
		gap: 48px;
	}

	&__items {
		text-decoration: none;
	}

	&__item {
		@include action2;
		color: $grey700;
		transition: all 0.3s;

		&:hover {
			color: $primary700;
		}

		&--hover-none:hover {
			color: $grey700;
		}
	}

	&__box-bottom {
		padding: 24px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__socialmedia {
		display: flex;
		gap: 24px;
	}

	&__ring {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-color: $white;

		&:hover {
			background-color: $primary50;
		}

		&:active {
			background-color: $primary200;
		}
	}
}

@media (max-width: 1200px) {
	.header {
		&__box {
			width: 80%;
		}
	}

	.aboutus {
		&__box {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 0 40px;
			gap: 25px;
		}

		&__text {
			text-align: center;
		}

		&__h3-title {
			text-align: center;
		}
	}

	.offer {
		&__container {
			gap: 20px;
		}
	}

	.contact {
		justify-content: center;

		&__container {
			display: flex;
			flex-direction: column-reverse;
			justify-content: space-between;
			align-items: center;
			max-width: 100%;
			gap: 50px;
		}

		&__box {
			flex: 1;
			min-width: 400px;
			padding: 30px;
		}
	}
}

@media (max-width: 992px) {
	.aboutus {
		&__boxes {
			flex-direction: column;
			margin-top: 70px;
			gap: 38px;
		}

		&__box {
			flex-direction: column;
			align-items: center;
			padding: 0 50px;
			gap: 25px;
		}

		&__h3-title {
			margin-bottom: 8px;
		}
	}
}

@media (max-width: 860px) {
	.offer {
		flex-direction: column;
		align-items: center;
		gap: 120px;

		&__container {
			flex-direction: column;
			justify-content: space-between;
			gap: 20px;

			&:first-of-type {
				flex-direction: column-reverse;
			}

			&:last-of-type {
				flex-direction: column-reverse;
			}
		}

		&__box {
			max-height: auto;
		}

		&__h1-title {
			width: auto;
			font-size: 28px;
			line-height: 40px;
		}
	}

	.splide {
		&__h2-title {
			font-size: 28px;
			line-height: 40px;
		}
	}
}

@media (max-width: 768px) {
	.menu {
		position: relative;

		&__box {
			all: initial;
			position: absolute;
			top: 0;
         transform: translate(105%, 0%);
			height: 100vh;
			width: 110vw;
			z-index: 5;
			background-color: $white;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 30px;
			transition: all 0.2s ease-in-out;

			&--show {
            transform: translate(-5%, 0%);
			}
		}

		&__logo {
			z-index: 10;
		}

		&__btn {
			position: relative;
			display: block;
			z-index: 10;
			cursor: pointer;
			padding: 6px;
         display: flex;
         justify-self: center;
         align-items: center;
         margin-right: 20px;
		}

		&__btn-svg {

			&--close {
				display: none;
			}
		}

		&__btn-svg-x {
			display: none;

			&--show {
				display: block;
			}
		}

      &__items-contact {
         margin-top: 15%;
      }
	}

	.header {
		display: flex;
		flex-direction: column;
		max-height: 600px;
      margin-bottom: 0px;

		&__left {
         position: relative;
			width: 100%;
			height: 800px;
			display: flex;
			justify-content: center;
			align-items: center;
         background-image: url('../../dist/img/hero-img.jpg');
         background-position: center;
         background-size: cover;
         z-index: 1;
		}

      &__left::after {
         position: absolute;
         content: '';
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background-color: #0f3581a9;
         z-index: -1;
      }

      &__left::before {
         position: absolute;
         content: '';
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background-color: #0002075e;
         z-index: -1;
      }

		&__right {
			display: none;
		}

		&__box {
			width: 80%;
			gap: 40px;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
		}

		&__h1-title {
			@include h1;
			font-size: 35px;
			line-height: 48px;
		}

		&__text {
			@include subheader1;
			font-size: 16px;
			line-height: 24px;
		}
	}

   .splide {
      &__overline {
         margin-bottom: 8px;
      }

      &__h2-title {
         margin-bottom: 18px;
      }

      &__svg-icon {
         margin-bottom: 16px;
      }

      &__text {
         margin-bottom: 26px;
      }

      &__svg-picture {
         margin-bottom: 6px;
      }

      &__person-name {
         margin-bottom: 4px;
      }
   }

	.blog {
		&__container {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 15px;
			width: 100%;
		}

		&__img-link {
			margin-bottom: 8px;
		}

		&__h6-title {
			font-size: 16px;
			line-height: 24px;
		}

		&__text {
			line-height: 24px;
		}

      &__inner {
         padding: 80px 0;
      }
	}

	.contact {
		&__box {
			padding: 20px;
			width: 100%;
			min-width: 100%;
		}

		&__form-grid {
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			grid-template-rows: repeat(1, 1fr);
			gap: 20px;
		}

		&__checkbox-terms {
			line-height: 24px;
			margin-left: 6px;
		}
	}

	.footer {
		&__box-bottom {
			flex-direction: column-reverse;
		}

		&__socialmedia {
			margin-bottom: 28px;
		}
	}
}

@media (max-width: 630px) {
	.blog {
		&__container {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 80px;
			width: 100%;
		}

		&__box {
			width: 100%;
		}
	}
}

@media (max-width: 576px) {
	.header {
		max-height: 680px;
	}

	.aboutus {
		&__box {
			padding: 0 15px;
		}
	}

	.blog {
		&__header {
			flex-direction: column;
		}

		&__h2-title {
			margin-bottom: 40px;
		}
	}

	.footer {
		&__box-bottom {
			padding: 24px 0;
			display: flex;
			flex-direction: column-reverse;
			justify-content: space-between;
			align-items: center;
		}

		&__menu-mobile {
			flex-direction: column-reverse;
			align-items: center;
			gap: 15px;
		}
	}
}

@media (max-width: 440px) {
	.footer {
		&__menu {
			display: flex;
			flex-direction: row;
			gap: 25px;
         margin-top: 28px;
		}

      &__menu-mobile {
         align-items: flex-start;
      }

      &__box-top {
         padding: 40px 0;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         align-items: flex-start;
      }

      &__box-bottom {
         padding: 24px 0;
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         align-items: flex-end;
      }

      &__socialmedia {
         flex-direction: column;
         gap: 6px;
         margin-bottom: 0;
      }
	}
}
