@use 'utilities/mixins' as *;
@use 'utilities/variables' as *;

.nav {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100px;
	width: 100vw;
	z-index: 10;
	transition: all 0.5s;

	&--short {
		height: 70px;
	}

	&--shadow {
		box-shadow: 0px 4px 7px -5px rgba(66, 68, 90, 1);
	}
}

.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	background-color: $white;

	&__box {
		display: flex;
		align-items: center;
		gap: 48px;
	}

	&__items {
		text-decoration: none;
	}

	&__item {
		@include action2;
		color: $grey700;
		transition: all 0.3s;

		&:hover {
			color: $primary700;
		}
	}
}

.header {
	display: flex;
	max-height: 800px;
	padding-top: 100px;

	&__left {
		width: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		color: $white;
		background-color: $grey900;
	}

	&__right {
		position: relative;
		width: 50%;
		max-height: 800px;
	}

	&__right-img {
		// top: 0;
		// left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__box {
		width: 90%;
		gap: 40px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}

	&__h1-title {
		@include h1;
	}

	&__text {
		@include subheader1;
	}
}

.aboutus {
	padding: 100px 0;
	background-color: $primary50;

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__overline {
		@include caption1;
		color: $primary800;
		margin-bottom: 20px;
	}

	&__h2-title {
		@include h2;
		color: $grey900;
	}

	&__boxes {
		display: flex;
		flex-direction: row;
		margin-top: 70px;
	}

	&__box {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		padding: 0 20px;
		gap: 20px;
	}

	&__item {
		display: flex;
		flex-direction: column;
	}

	&__ring {
		background-color: $primary100;
		min-width: 56px;
		min-height: 56px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__h3-title {
		color: $grey900;
		margin-bottom: 15px;
		@include h6;
	}

	&__text {
		@include body1;
	}
}

.offer {
	padding: 128px 0;
	display: flex;
	flex-direction: column;
	gap: 182px;

	&__container {
		display: flex;
		justify-content: space-between;
	}

	&__box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		max-width: 548px;
		max-height: 548px;
	}

	&__img {
		width: 100%;
		max-width: 548px;
		min-width: 280px;
		height: auto;
		border-radius: 8px;
	}

	&__overline {
		@include caption1;
		color: $primary800;
		margin-bottom: 12px;
	}

	&__h1-title {
		@include h2;
		color: $grey900;
		margin-bottom: 20px;
		width: 380px;
	}

	&__text {
		@include body1;
		margin-bottom: 32px;
	}
}

.line {
	width: 100%;
	height: 1px;
	background-color: $grey200;
}

.opinion {
	padding: 150px 0;
}

.splide {
	&__slide {
		display: flex;
		justify-content: center;
	}

	&__box {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 900px;
	}
	&__overline {
		@include caption1;
		color: $primary800;
		margin-bottom: 12px;
	}

	&__h2-title {
		@include h2;
		color: $grey900;
		margin-bottom: 40px;
		text-align: center;
	}

	&__svg-icon {
		margin-bottom: 32px;
	}

	&__text {
		@include body1;
		text-align: center;
		margin-bottom: 32px;
	}

	&__svg-picture {
		margin-bottom: 12px;
	}

	&__person-name {
		@include subheader1;
		color: $grey900;
		margin-bottom: 12px;
	}

	&__person-description {
		@include body1;
		color: $grey700;
	}
}

.blog {
	display: flex;
	background-color: $grey50;

	&__inner {
		padding: 128px 0;
	}

	&__header {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	&__h2-title {
		@include h2;
		color: $grey900;
	}

	&__btn {
		margin-bottom: 60px;
	}

	&__container {
		display: flex;
      align-items: center;
		flex-wrap: wrap;
		gap: 32px;
      width: 100%;
	}

	&__img {
		border-radius: 8px;
		max-width: 432px;
		margin-bottom: 30px;
	}

	&__box {
		display: flex;
		flex-direction: column;
		max-width: 432px;
	}

	&__category-name {
		@include caption1;
		color: $primary800;
		margin-bottom: 12px;
	}

	&__h6-title {
		@include h6;
		color: $grey900;
	}

	&__link {
		text-decoration: none;
		margin-bottom: 12px;
	}

	&__text {
		@include body1;
		color: $grey800;
		margin-bottom: 12px;
	}

	&__date-box {
		display: flex;
		align-items: center;
	}

	&__date {
		@include caption1;
		color: $grey600;
		margin-left: 8px;
	}
}

.cta {
   padding: 100px 0;
   background-color: $grey50;

   &__box {
      padding: 80px 0px;
      background-color: $grey900;
      border-radius: 8px;
      max-width: 100%;
      color: $white;
      display: flex;
      justify-content: center;
   }
   
   &__inner {
      max-width: 555px;
      padding: 0 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
   }

   &__overline {
      @include caption1;
   }
   
   &__h2-title {
      @include h2;
      text-align: center;
   }
   &__text {
      @include body1;
      text-align: center;
   }
}